name: Android CI

on:  
  push:
    branches: [ "main"]
    paths:
      "*/.github/workflows/android.yml"
  pull_request:
    branches: [ "*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
     
    # Step 3: Check the code with Android linter
    - name: Run Android Linter
      run: ./gradlew lint #StagingDebug

    # Step 4: Run your unit tests 
    - name: Run Unit Tests
      run: ./gradlew test #StagingDebugUnitTest

    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
